
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
   font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}


.container {    
  margin-top: 50px;
  width:100%;
}
.card {
  display: flex;
  padding: 4%;
  margin-top: 30px;
  background-color:#ffffff10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
}
.form{
  display: flex;
}
.right {
  width: 50%;
  margin-right: 10%;
}
.left {
    width: 50%;   
}
.sub{
margin-top: 20px;
width: 100;
}
input{
margin-bottom: 7px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn-primary {
    color: #fff;
    background-color: #ff3566;
    border-color: #440b19;
    }
.btn-primary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    }
.btn-secondary:hover {
     color: #fff;
     background-color: #ff3566;
     border-color: #440b19;
     }
p {
    color: #ff3566;
}