
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
   font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-primary {
    color: #fff;
    background-color: #ff3566;
    border-color: #440b19;
}
.btn-primary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
     color: #fff;
     background-color: #ff3566;
     border-color: #440b19;
}Bootstrap's CSS file in the head section of the HTML file and also linked the style.css file. Then, I used Bootstrap classes to add styling to the table and button elements. Finally, I added the necessary JavaScript files to enable Bootstrap functionality.